* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    
}

:root {
    --primary-color: #ffffff;
    --secondary-color: rgb(37, 37, 37);
    --secondary-shadow-color: rgba(37, 37, 37, 0.19);
    --navbar-color: rgba(255, 255, 255, 0.9);
}
.dark-theme{
    --primary-color: black;
    --secondary-color: rgb(255, 255, 255);
    --secondary-shadow-color: rgba(255, 255, 255, 0.19);
    --navbar-color: rgba(0, 0, 0, 0.9);
    background-image: url(SPS_0051.JPG);
    background-size: cover;
}

.dark-mode {
    top: 20px;
    right: 30px;
    position: fixed;
}

#icon{
    width: 30px;
    cursor: pointer;
}

body {
    background: var(--primary-color);
    color: var(--secondary-color);
    /* background-image: url(Sanmit\ Pic.png); */
    background-size: cover;
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    transition: background 0.8s, color 0.8s;

}

::selection {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

#header {
    width: 100%;
    height: 100vh;

}

.container {
    padding: 10px;
    /* color: var(--secondary-color);
    background-color: var(--primary-color); */
}

.logo {
    height: 40px;
    width: auto;
    margin-right: 100px;
    margin-left: 0%;
}

nav {
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    background-color: var(--navbar-color);
}


nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    position: relative;
    transition: 0.2s;
}

/* nav ul li a:hover {
    color: #000000;
} */


nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(193, 0, 0);
    position: absolute;
    left: 0;
    /* left: 50%; */
    /* transform:translate(-50%); */
    bottom: -8px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a:active {
    color: rgb(193, 0, 0);
}

/* =====================  Button  ============== */

.button {
    /* margin-top: 40px; */
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 10px;
    border: 3px solid var(--secondary-color);
    border-radius: 10px;
    font-size: small;
    transition: all;
    transition: transform 0.5s;
    cursor: pointer;
    display: inline-block;
}

.button a {
    text-decoration: none;
    color: var(--primary-color);
}

.button:hover {
    /* color: rgb(193, 0, 0); */
    /* background-color: rgb(255, 255, 255); */
    transform: translateY(-5px);
    box-shadow: 0 12px 16px 0 var(--secondary-shadow-color), 0 17px 50px 0 var(--secondary-shadow-color);
}

.button:active{
    /* background-color: grey; */
    transform: scale(0.90);
}




/* =============================== Header ===================== */

.header-text {
    margin-top: 20%;
    margin-left: 5%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 4px;
    color: var(--secondary-color);
}

.header-text h1 span {
    color: rgb(193, 0, 0);
}

.header-text::first-letter {
    font-size: 2em;
}

.header-text::first-letter::selection {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#myName {
    font-size: 90px;
    color: transparent;
    -webkit-text-stroke: 1px var(--secondary-color);
    background-image: url(back.png);
    background-size: cover;
    background-clip: border-box;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;

}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }

}


/* =================   Dynamic text  ============ */

/* .wrapper{
    display: flex;
}

.wrapper .static-txt{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}

.wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.dynamic-txts li{
    list-style-type: none;
    color: rgb(193, 0, 0);
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide {
    100%
    {
        top: -360px;
    }
}

.dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
}

.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    border-left: 2px solid #fc6d6d;
    animation: typing 3s steps(10) infintie;
}

@keyframes typing {
    40%, 60%{
        left: calc(100% + 30px);
    }
    100%{
        left: 0;
    }   
} */



/* =========================    About    ============================= */

#about {
    width: 100%;
    padding: 80px 15%;
    border-radius: 40px;
    display: flex;
    justify-content: justify;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.3); */
}

.tab-titles {
    color: var(--secondary-color);

    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.tab-links {
    color: var(--secondary-color);

    margin-right: 30px;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: rgb(193, 0, 0);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.tab-links:hover::after {
    width: 100%;
}

.tab-links.active-link::after {
    width: 100%;
}

.tab-contents {
    display: none;
}

.tab-contents ul li {
    list-style-type: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: rgb(193, 0, 0);
}

.tab-contents ul li p {
    color: #7f7f7f;
}

.tab-contents.active-tab {
    display: block;
}


/* ================  Projects  ================ */

#project {
    width: 100%;
    padding: 80px 15%;
}

#project ul {
    color: var(--secondary-color);

}

#project h2 {
    color: var(--secondary-color);
}

/* ============= Contact ================= */

.contact-info{
    padding: 80px 15%;
    
}

.contact-info p i {
    padding: 20px 20px 0px 0px;
    font-size: 20px;
    color: rgb(193, 0, 0);

}


.contact-info p a {
    text-decoration: none;
    color: var(--secondary-color);
}

.contact-info p a:hover {
    color: rgb(193, 0, 0);
}

.contact-info {
    flex-basis: 60%;
}

.social-icons {
    margin-top: 25px;
    margin-bottom: 10px;
}

.social-icons a {
    /* text-decoration: none; */
    font-size: 30px;
    margin-right: 10px;

    display: inline-block;
    color: var(--secondary-color);
    transition: transform 0.5s;
}


.social-icons a:hover {
    color: rgb(193, 0, 0);
    transform: translateY(-5px);
}

.contact-info form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: var(--secondary-shadow-color);
    padding: 15px;
    margin: 15px 0;
    color: var(--secondary-color);

    font-size: 18px;
    border-radius: 6px;
}


/* =====================  footer  ================== */

.footer {
    display: flex;
    justify-content: center;
    background-color: rgba(44, 44, 44, 0.3);
    padding: 20px;
    /* margin-bottom: 70px; */
    padding-bottom: 80px;
}

/* =====================   Responsiveness  ====================== */


@media (max-width:600px) {
    .header-text {
        margin-top: 200px;
    }

    nav ul li {
        margin-right: 5px;
    }
    #header {
        margin-top: -90px;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        height: 60px;
        background-color: var(--navbar-color);
        bottom: 0;
        left: 0;
        right: 0;
    }


    nav ul li {
        display: inline-block;
        list-style: none;
        margin: 10px 20px;
    }


    nav ul li a {
        text-decoration: none;
        color: var(--secondary-color);
        position: relative;
        transition: 0.2s;
    }

    .logo {
        display: none;
    }

    #about {
        padding: 80px 5%;
    }

    #project {
        padding: 80px 5%;

    }

    #contact-info {
        padding: 0px 5%;
    }

    form input,
    form textarea {
        font-size: small;
        padding: 8px;
        
    }

    .button{
        padding: 5px;
    }


}

/* ==============  submit msg  ================== */

#msg {
    color: #61b752;
    margin-top: 3px;
    display: inline-block;
}

.submission{
    color: #61b752;
    padding-top: 10px;
}


